/* _functions.scss */
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both; }

/*
* Respond To
* Copied from UtilityBelt- https://github.com/dmtintner/UtilityBelt
*
* Example:
* @include respondTo(smartphone){ display: none; }
*
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

@-ms-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

/* nav.scss */
header, main, footer {
  padding-left: 240px; }

nav.top-nav span.page-title {
  line-height: 122px;
  font-size: 48px; }

ul.side-nav.fixed li a {
  font-size: 13px;
  line-height: 44px;
  height: 44px; }

.side-nav.fixed a {
  display: block;
  padding: 0 15px;
  color: #444; }

.side-nav .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  margin: 0 1rem; }

.bold > a {
  font-weight: bold; }

.side-nav a {
  color: #444;
  display: block;
  font-size: 1rem;
  height: 64px;
  line-height: 64px;
  padding: 0 15px; }

.collapsible-header {
  display: block;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd; }

ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd; }
  ul.side-nav.fixed li.logo:hover {
    background-color: transparent  !important; }

ul.side-nav.fixed li {
  line-height: 44px; }

#logo-container {
  height: auto;
  margin-bottom: 32px; }

nav .nav-wrapper {
  position: relative;
  height: 100%; }

nav.top-nav {
  height: 122px;
  box-shadow: none; }

a.button-collapse.top-nav.full {
  line-height: 122px; }

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2; }

@media only screen and (max-width: 992px) {
  nav .nav-wrapper a.page-title {
    font-size: 36px; }
  nav .nav-wrapper {
    text-align: center; }
  header, main, footer {
    padding-left: 0; } }

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 64px; } }

/* colors.scss */
.primary-red {
  background-color: #F12A27 !important; }

.primary-red-text {
  color: #F12A27 !important; }

.primary-black {
  background-color: #212121 !important; }

.primary-black-text {
  color: #212121 !important; }

.primary-white {
  background-color: #F1F1F1 !important; }

.primary-white-text {
  color: #F1F1F1 !important; }

.secondary-purple {
  background-color: #6f4f96 !important; }

.secondary-blue {
  background-color: #7f93bf !important; }

.secondary-yellow {
  background-color: #ffc823 !important; }

.grey-dark {
  background-color: #363636 !important; }

.grey-grey {
  background-color: #7b7373 !important; }

.grey-light {
  background-color: #878293 !important; }

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.color-pane {
  height: 200px; }
  .color-pane span {
    width: auto;
    margin: auto;
    text-align: center;
    font-size: 130%; }

.material-bounce {
  -webkit-transition: all 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  -moz-transition: all 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  transition: all 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995); }

@media only screen and (min-width: 993px) {
  .container {
    width: 85%; } }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; } }
