<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Primary</h3>
      <p>These colors are used for backgrounds, important objects, and are considered 'brand colors'.
        If you want to design something that says "Praxus", then use these.</p>
    </div>
    <div class="col s4">
      <div class="card-panel hoverable color-pane center-align valign-wrapper primary-red">
        <span class="primary-white-text valign">
          Praxus Red<br/>
          #F12A27<br/>
          primary-red
        </span>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel hoverable color-pane center-align valign-wrapper primary-black">
        <span class="primary-white-text valign">
          Charcoal<br/>
          #212121<br/>
          primary-black
        </span>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel hoverable color-pane center-align valign-wrapper primary-white">
        <span class="primary-black-text valign">
          White Smoke<br/>
          #F1F1F1<br/>
          primary-white
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h3>Secondary</h3>
      <p>These colors are mainly used in our website as accent colors. When we want a little variation on
        a page from standard primary colors, such as a button color, to indicate action, one of these colors
        would look great.</p>
    </div>
    <div class="col s4">
      <div class="card-panel hoverable color-pane center-align valign-wrapper secondary-purple">
        <span class="primary-white-text valign">
          Studio Purple<br/>
          #6f4f96<br/>
          secondary-purple
        </span>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel hoverable color-pane center-align valign-wrapper secondary-blue">
        <span class="primary-white-text valign">
          Wild Blue Yonder<br/>
          #7f93bf<br/>
          secondary-blue
        </span>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel hoverable color-pane center-align valign-wrapper secondary-yellow">
        <span class="primary-black-text valign">
          Sunglow<br/>
          #ffc823<br/>
          secondary-yellow
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h3>Greys</h3>
      <p>Need a background color that goes with anything? Or do you just hate mondays.</p>
    </div>
    <div class="col s4">
      <div class="card-panel hoverable color-pane center-align valign-wrapper grey-dark">
        <span class="primary-white-text valign">
          Gondola<br/>
          #363636<br/>
          grey-dark
        </span>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel hoverable color-pane center-align valign-wrapper grey-grey">
        <span class="primary-white-text valign">
          Empress<br/>
          #7b7373<br/>
          grey-grey
        </span>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel hoverable color-pane center-align valign-wrapper grey-light">
        <span class="primary-black-text valign">
          Topaz<br/>
          #878293<br/>
          grey-light
        </span>
      </div>
    </div>
  </div>
</div>
