/* nav.scss */
header, main, footer {
  padding-left: 240px;
}

nav.top-nav span.page-title {
    line-height: 122px;
    font-size: 48px;
}

ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
}

.side-nav.fixed a {
    display: block;
    padding: 0 15px;
    color: #444;
}

.side-nav .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    margin: 0 1rem;
}

.bold > a {
    font-weight: bold;
}

.side-nav a {
    color: #444;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0 15px;
}

.collapsible-header {
    display: block;
    cursor: pointer;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;

    &:hover {
        background-color: transparent  !important;
    }
}

ul.side-nav.fixed li {
    line-height: 44px;
}

#logo-container {
    height: auto;
    margin-bottom: 32px;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

a.button-collapse.top-nav.full {
    line-height: 122px;
}

a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}

@media only screen and (max-width: 992px){
  nav .nav-wrapper a.page-title {
      font-size: 36px;
  }

  nav .nav-wrapper {
      text-align: center;
  }

  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 64px;
      line-height: 64px;
  }
}
