@import "functions";
@import "nav";
@import "colors";

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.color-pane {
  height: 200px;

  span {
    width: auto;
    margin: auto;
    text-align: center;
    font-size:130%;
  }
}

.material-bounce {
  @include materialBounce();
}

@media only screen and (min-width: 993px){
  .container {
      width: 85%;
  }
}

@media only screen and (min-width: 601px){
  .container {
      width: 85%;
  }
}
